<!-- mailer template here -->
<div>
	Dear Scholar@UC User,
</div>
<br>
This email is to inform you that the following changes have been made to your account:
<br><br>
<%= @body.html_safe %>

Changes can include:
<br>
<ul>
	<li>Being added/removed as another contributor's delegate</li>
	<li>Being added/removed as an editor of a work</li>
	<li>Being added/removed to a group</li>
</ul>


Thanks,
The Scholar@UC team